/*navbar stying*/

body {
    margin: 0;
}

.navbar {
    padding: 15px 0 15px 0;
}


/*container styling*/

.container {
    background: black;
    color: white;
    margin-top: 50px;
    padding: 0 30px 0 30px;
    height: 500px;
}

h2 {
    padding-top: 8px;
}

hr:not([size]) {
    height: 1.5px;
}

img {
    float: left;
}

#p1 {
    float: left;
    width: 80%;
    padding-left: 30px;
    line-height: 2;
}

#p2 {
    width: 100%;
    clear: both;
    padding-top: 30px;
    line-height: 2;
}
#p3 {
    width: 100%;
    line-height: 2;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    background: gray;
}