/*navbar stying*/

body {
    margin: 0;
}

.navbar {
    padding: 15px 0 15px 0;
}

.navbar>.container-fluid {
    padding-left: 120px;
}


/*container styling*/

.container {
    background: black;
    color: white;
    margin-top: 50px;
    padding: 0 30px 0 30px;
    font-family: 'Quintessential', cursive;
    border-radius: 10px;
    overflow: auto;
}

h2 {
    padding-top: 15px;
}

hr:not([size]) {
    height: 1.5px;
}

img {
    float: left;
}

#p1 {
    float: left;
    width: 80%;
    padding-top: 10px;
    padding-left: 30px;
    line-height: 2;
}

#p1a {
    float: left;
    width: 80%;
    padding-left: 30px;
    line-height: 2;
}

#p2 {
    width: 100%;
    clear: both;
    padding-top: 30px;
    line-height: 2;
}
#p3 {
    width: 100%;
    line-height: 2;
    margin-bottom: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: gray;
}

@media screen and (max-width: 1199px) {

    .container {
        margin-bottom: 100px;
    }

    #p1 {
        width: 75%;
    }
    
    #footer {
        position: fixed;
        bottom: 0;
    }
    
}

@media screen and (max-width: 991px) {

    img {
        margin-top: 75px;
    }

    #p1 {
        width: 65%;
    }

}

@media screen and (max-width: 880px) and (max-height: 1180px) {

    .navbar>.container-fluid {
        padding-left: 60px;
    }

    .container {
        margin-top: 140px;
    }

    h2 {
        padding-top: 15px;
    }

    img {
        margin-top: 45px;
    }

    #p1a {
        width: 100%;
        padding-left: 0;
    }

    #p2 {
        padding-top: 15px;
    }

    #p3 {
        margin-bottom: 20px;
    }

}

@media screen and (max-height: 880px) and (max-width: 1180px) {

    .container {
        margin-top: 58px;
    }
    
    h2 {
        padding-top: 17px;
    }
    img {
        float: left;
        margin-top: 20px;
    }

    #p1 {
        padding-top: 20px;
    }

    #p1a {
        width: 100%;
        margin: 15px 0 0 0;
        padding-left: 0;
    }

    #p2 {
        padding-top: 20px;
    }

    #p3 {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px) {

    #p1 {
        width: 50%;;
    }

    img {
        margin-top: 275px;
    }

}

@media screen and (max-width: 768px) and (max-height: 1024px) {

    .navbar>.container-fluid {
        padding-left: 30px;
    }

    .container {
        margin-top: 70px;
    }

    img {
        margin-top: 50px;
    }

    #p1 {
        width: 65%;
    }

}

@media screen and (max-height: 768px) and (max-width: 1024px) {

    .navbar>.container-fluid {
        padding-left: 45px;
    }

    .container {
        margin-top: 30px;
        margin-bottom: 0;
    }

}

@media screen and (max-width: 415px) and (max-height: 897px) {

    .container {
        width: 90%;
        margin-top: 15px;
    }

    img {
        width: 40%;
        margin-top: 15px;
        margin-left: 85px;
    }

    #p1 {
        width: 95%;
        padding-left: 0;
    }

}

@media screen and (max-width: 391px) and (max-height: 845px) {

    #p1 {
        width: 100%;
        padding-left: 0;
    }

}

@media screen and (max-height: 376px) and (max-width: 668px) {

    img {
        margin-top: 10px;
        width: 30%;
        margin-left: 155px;
    }

    #p1 {
        width: 100%;
        padding-left: 0;
    }

}